.About {
  padding: 50px;
  overflow: hidden;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png);
}

.About .left {
  width: 100%;
  margin: 0 auto;
}

.About .right {
  width: 100%;
  text-align: left;
  background: #fff;
  padding: 20px;
  border: 1px solid pink;
}

.About figcaption {
  margin: 20px 0;
  font-weight: bold;
  color: #0284A8;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.About .left img {
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.About .aboutme-list {
  display: block;
  list-style-type: none;
}

.About .aboutme-list h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.About.aboutme-list p {
  line-height: 120%;
  margin-bottom: 15px;
}

.About .aboutme-list > li {
  margin-top: 30px;
  padding: 10px;
  position: relative;
}

/* .About .aboutme-list > li span {
  position: absolute;
  right: 0;
  padding-bottom: 50px;
} */

.About .aboutme-list > li:not(:first-child) {
  border: 1px solid #02BEC4;
}

.About .aboutme-list  li > ul {
  padding-top: 10px;
  padding-left: 20px;
}

.About .aboutme-list ul li span {
  display: block;
}

.About .cme span:nth-child(2) p:not(:last-child) {
  margin: 0;
}

.About .education li span p:not(:last-child) {
  margin: 0;
}



@media (min-width: 601px) and (max-width: 1020px) {

  .About .left {
    width: 100%;
    float: none;
    overflow: auto;
  }

  .About .right {
    width: 100%;
    margin: 30px auto 0 auto;
    float: none;
    overflow: auto;
  }

  .About .right h3 {
    text-align: center;
  }

}

@media (min-width: 400px) and (max-width: 600px) {

    .About {
      text-align: center;
    }

    .About .left {
      width: 100%;
    }

    .About .right {
      width: 100%;
      margin: 30px auto 0 auto;
    }

    .About .right h3 {
      text-align: center;
    }

}
