.Preview {
 width: 100%;
 margin: 5%;


 position: relative;
}

.Preview img {
  width: 100%;

  display: block;
}

.Preview figcaption {
  font-family: 'Rock Salt', cursive;
  font-size: 16px;
  text-align: center;
  color: #02BEC4;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #060F4F;
  transition: opacity 1s linear;
}


.Preview:hover figcaption {
  opacity: 1;
}

@media (min-width: 601px) and (max-width: 900px) {
  .Preview {
    width: 100%;
  }
  .Preview figcaption {
    font-family: 'Rock Salt', cursive;
    font-size: 16px;
    text-align: center;
    color: #02BEC4;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #060F4F;
    transition: opacity 1s linear;
  }
}

@media (max-width: 600px) {
  . Preview{
    width: 100%;
  }
  .Preview figcaption {
    font-family: 'Rock Salt', cursive;
    font-size: 16px;
    text-align: center;
    color: #02BEC4;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #060F4F;
    transition: opacity 1s linear;
  }
}

/* .Preview {
  width: 30%;
  display: inline-block;
  background-color: #060F4F;
  margin: 1em;
}

.Preview img {
  width: 100%;
  max-width: 430px;
  height: auto;
}

.Preview figcaption {
  font-family: 'Rock Salt', cursive;
  font-size: 15px;
  text-align: center;
  color: #02BEC4;
} */


/********* tablet / ipod **********/
/* @media (min-width: 601px) and (max-width: 900px) {
  .Preview {
    min-width: 500px;
  }

  .Preview img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

}

@media (max-width: 600px) {
  .Preview {
    width: 100%;
    max-width: 280px;
  }

  .Preview img {
    width: 100%;
    max-width: 280px;
    height: auto;
  }

} */
