.grid figure {
  width: 30%;
  background: #060F4F;
  margin: 1em;
  float: left;
}

.grid img {
  width: 100%;
}

.grid figcaption {
  font-family: 'Rock Salt', cursive;
  font-size: 15px;
  text-align: center;
  color: #02BEC4;
}
