.header-container {
  background: pink;
  font-size: 16px;
}

.header-container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-container ul li {
  margin: 20px;
}

.header-container ul li a {
  text-decoration: none;
  color: #0284A8;
  text-transform: uppercase;
  font-weight: bold;
}

.header-container ul li a:hover {
  color: #02BEC4;
  border-bottom: 2px solid #02BEC4;
}
