.homePage {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.homePage .homePage-text {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.homePage .homePage-text .first-container,
.homePage .homePage-text .second-container,
.homePage .homePage-text .third-container {
  cursor: pointer;
}

.homePage .homePage-text .first-container h1,
.homePage .homePage-text .second-container h1,
.homePage .homePage-text .third-container h1 {
  letter-spacing: 2px;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

.homePage span {
  text-transform: uppercase;
  position: relative;
}

.homePage span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: -5;
}

.homePage .share:hover > h1 > span:nth-child(1):after,
.homePage .share:hover > h1 > span:nth-child(2):after,
.homePage .share:hover > h1 > span:nth-child(3):after,
.homePage .share:hover > h1 > span:nth-child(4):after,
.homePage .share:hover > h1 > span:nth-child(5):after,
.homePage .share:hover > h1 > span:nth-child(6):after,
.homePage .share:hover > h1 > span:nth-child(7):after,
.homePage .share:hover > h1 > span:nth-child(8):after,
.homePage .share:hover > h1 > span:nth-child(9):after,
.homePage .share:hover > h1 > span:nth-child(10):after,
.homePage .share:hover > h1 > span:nth-child(11):after,
.homePage .share:hover > h1 > span:nth-child(12):after,
.homePage .share:hover > h1 > span:nth-child(13):after,
.homePage .share:hover > h1 > span:nth-child(14):after,
.homePage .share:hover > h1 > span:nth-child(15):after,
.homePage .share:hover > h1 > span:nth-child(16):after,
.homePage .share:hover > h1 > span:nth-child(17):after,
.homePage .share:hover > h1 > span:nth-child(18):after{
  background: white;
  width: 100%;
  transition: 0.6s;
}

.homePage .share:hover > h1 > span:nth-child(1):after {
  transition-delay: 100ms;
  transform: rotate(-25deg);
}

.homePage .share:hover > h1 > span:nth-child(1),
.homePage .share:hover > h1 > span:nth-child(2),
.homePage .share:hover > h1 > span:nth-child(3),
.homePage .share:hover > h1 > span:nth-child(4),
.homePage .share:hover > h1 > span:nth-child(5),
.homePage .share:hover > h1 > span:nth-child(6),
.homePage .share:hover > h1 > span:nth-child(7),
.homePage .share:hover > h1 > span:nth-child(8),
.homePage .share:hover > h1 > span:nth-child(9),
.homePage .share:hover > h1 > span:nth-child(10),
.homePage .share:hover > h1 > span:nth-child(11),
.homePage .share:hover > h1 > span:nth-child(12),
.homePage .share:hover > h1 > span:nth-child(13),
.homePage .share:hover > h1 > span:nth-child(14),
.homePage .share:hover > h1 > span:nth-child(15),
.homePage .share:hover > h1 > span:nth-child(16),
.homePage .share:hover > h1 > span:nth-child(17),
.homePage .share:hover > h1 > span:nth-child(18) {
  color: #39393B;
}

.homePage .share:hover > h1 > span:nth-child(1) {
  transition-delay: 110ms;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #02BEC4;
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #02BEC4;
}

@media (min-width: 601px) and (max-width: 900px) {
  .homePage .homePage-text {
    width: 100%;
  }

  .homePage .homePage-text .first-container h1,
  .homePage .homePage-text .second-container h1,
  .homePage .homePage-text .third-container h1 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .homePage .homePage-text {
    width: 100%;
  }

  .homePage .homePage-text .first-container h1,
  .homePage .homePage-text .second-container h1,
  .homePage .homePage-text .third-container h1 {
    font-size: 2rem;
  }
}
