.aboutme-container {
  margin-top: 20px;
  overflow: hidden;

}

.aboutme-container .left {
  width: 30%;
  float: left;
}

.aboutme-container .right {
  width: 70%;
  float: right;
  text-align: left;
  background: #fff;
  padding: 20px 30px;
  background:url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png);
}

.aboutme-container .aboutme-list {
  display: block;
  list-style-type: none;
}

.aboutme-container .aboutme-list > li {
  padding-top: 20px;
}

.aboutme-container .aboutme-list li > ul{
  padding-left: 40px;
}

figcaption {
  font-family: 'Margarine', cursive;
}

img {
  height: 350px;
}
