.aboutme-container {
  margin-top: 40px;
  padding: 50px;
  overflow: hidden;
  background:url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png);
}

.aboutme-container .left {
  width: 30%;
  float: left;
}

.aboutme-container .right {
  width: 70%;
  float: right;
  text-align: left;
  background: #fff;
  padding: 30px 40px;
}

.aboutme-container .aboutme-list {
  display: block;
  list-style-type: none;
}

.aboutme-container .aboutme-list > li {
  padding-top: 20px;
}


.aboutme-container .aboutme-list  li > ul{
  padding-top: 10px;
  padding-left: 20px;
}


figcaption {
  margin-top: 20px;
  font-weight: bold;
  color: #0284A8;
  letter-spacing: 2px;
  text-transform: uppercase;
}

img {
  height: 350px;
}
