.Status {
  width: 100%;
  display: inline-flex;
}

.Status .left {
  width: 25%;
  margin: 10px;
}

.Status .right {
  width: 75%;
  margin: 10px;
}

.Status .cv {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  -webkit-filter:grayscale(100%);
  -moz-filter:grayscale(100%);
  -o-filter:grayscale(100%);
  -ms-filter:grayscale(100%);
  filter:grayscale(100%);
}

.Status button {
  background-color: #02BEC4;
  color: #fff;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 70px;
  text-align: left;
  padding-left: 20px;
  -webkit-outline: none;
  -moz-outline: none;
  -o-outline: none;
  -ms-outline: none;
  outline: none;
  letter-spacing: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: background-color 2s linear;
  -moz-transition: background-color 2s linear;
  -o-transition: background-color 2s linear;
  -ms-transition: background-color 2s linear;
  transition: background-color 2s linear;
}

/* removing firefox dotted outline*/
button::-moz-focus-inner {
  border: 0;
}

.inactive {
  outline: none;
}

.Status button.active {
  display: block;
  background-color: #060F4F;
}

.Status button:after {
  content: '+';
  color: #fff;
  font-size: 15px;
  float: right;
  margin-right: 20px;
  font-family: 'Rock Salt', cursive;
}

.Status .active:after {
  content: '-';
}

.Status .panel {
  padding: 20px;
}

.Status .panel p {
  padding-bottom: 20px;
}

.Status .panel p span {
  display: block;
  padding-bottom: 2px;
}

.Status .pdf {
  color: #02BEC4;
  border: none;
  padding: 2px;
  background-color: rgba(6, 15, 79, 0.7);
  text-decoration: none;
  transition: color 2s linear, background-color 2s linear;
}

.Status .pdf:hover {
  text-decoration: underline;
  color: rgba(6, 15, 79, 0.7);
  background-color: rgb(2, 190, 196, 0.7);
}

@media (max-width: 600px) {
  .Status {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Status .left,
  .Status .right {
    width: 80%;
  }

}
