.hero-container {
  background-image: url(https://careerfoundry.com/en/blog/learningtoprogram-min-9125c4feda18e437f6e03ce6c17aa558bc89c47b897cdc3707efdc0157923d4f.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-top: 40px;
}

.hero-container .inner-container {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%);
  color: #ffffff;
}

.hero-container .first-container,
.hero-container .second-contaiiner {
  cursor: pointer;
  position: relative;
}

.hero-container .first-container h1,
.hero-container .second-container h1 {
  position: relative;
  letter-spacing: 2px;
  font-size: 2.5vw;
  top: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-container .first-container {
  margin-bottom: 15px;
}

.hero-container span {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.hero-container span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: -5;
}

.hero-container .share:hover > h1 > span:nth-child(1):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 100ms;
  transform: rotate(-25deg);
}

.hero-container .share:hover > h1 > span:nth-child(1) {
  color: #39393B;
  transition-delay: 110ms;
}

.hero-container .share:hover > h1 > span:nth-child(2):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 200ms;
  transform: rotate(-20deg);
}

.hero-container .share:hover > h1 > span:nth-child(2) {
  color: #39393B;
  transition-delay: 220ms;
}


.hero-container .share:hover > h1 > span:nth-child(3):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 300ms;
  transform: rotate(-15deg);
}

.hero-container .share:hover > h1 > span:nth-child(3) {
  color: #39393B;
  transition-delay: 330ms;
}

.hero-container .share:hover > h1 > span:nth-child(4):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 400ms;
  transform: rotate(-10deg);
}

.hero-container .share:hover > h1 > span:nth-child(4) {
  color: #39393B;
  transition-delay: 440ms;
}

.hero-container .share:hover > h1 > span:nth-child(5):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 500ms;
  transform: rotate(-5deg);
}

.hero-container .share:hover > h1 > span:nth-child(5) {
  color: #39393B;
  transition-delay: 550ms;
}

.hero-container .share:hover > h1 > span:nth-child(6):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 600ms;
  transform: rotate(0deg);
}

.hero-container .share:hover > h1 > span:nth-child(6) {
  color: #39393B;
  transition-delay: 660ms;
}

.hero-container .share:hover > h1 > span:nth-child(7):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 700ms;
  transform: rotate(5deg);
}

.hero-container .share:hover > h1 > span:nth-child(7) {
  color: #39393B;
  transition-delay: 770ms;
}

.hero-container .share:hover > h1 > span:nth-child(8):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 800ms;
  transform: rotate(10deg);
}

.hero-container .share:hover > h1 > span:nth-child(8) {
  color: #39393B;
  transition-delay: 880ms;
}

.hero-container .share:hover > h1 > span:nth-child(9):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 900ms;
  transform: rotate(15deg);
}

.hero-container .share:hover > h1 > span:nth-child(9) {
  color: #39393B;
  transition-delay: 990ms;
}

.hero-container .share:hover > h1 > span:nth-child(10):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1000ms;
  transform: rotate(20deg);
}

.hero-container .share:hover > h1 > span:nth-child(10) {
  color: #39393B;
  transition-delay: 1100ms;
}


.hero-container .share:hover > h1 > span:nth-child(11):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1200ms;
  transform: rotate(20deg);
}

.hero-container .share:hover > h1 > span:nth-child(11) {
  color: #39393B;
  transition-delay: 1210ms;
}

.hero-container .share:hover > h1 > span:nth-child(12):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1300ms;
  transform: rotate(20deg);
}

.hero-container .share:hover > h1 > span:nth-child(12) {
  color: #39393B;
  transition-delay: 1320ms;
}

.hero-container .share:hover > h1 > span:nth-child(13):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1400ms;
  transform: rotate(20deg);
}

.hero-container .share:hover > h1 > span:nth-child(13) {
  color: #39393B;
  transition-delay: 1440ms;
}

.hero-container .share:hover > h1 > span:nth-child(14):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1400ms;
  transform: rotate(20deg);
}

.hero-container .share:hover > h1 > span:nth-child(14) {
  color: #39393B;
  transition-delay: 1550ms;
}

.hero-container .share:hover > h1 > span:nth-child(15):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1500ms;
  transform: rotate(20deg);
}

.hero-container .share:hover > h1 > span:nth-child(15) {
  color: #39393B;
  transition-delay: 1660ms;
}


.hero-container .share:hover > h1 > span:nth-child(16):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1600ms;
  transform: rotate(20deg);
}

.hero-container .share:hover > h1 > span:nth-child(16) {
  color: #39393B;
  transition-delay: 1770ms;
}

.hero-container .share:hover > h1 > span:nth-child(17):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1700ms;
  transform: rotate(20deg);
}

.hero-container .share:hover > h1 > span:nth-child(17) {
  color: #39393B;
  transition-delay: 1880ms;
}

.hero-container .share:hover > h1 > span:nth-child(18):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1800ms;
  transform: rotate(20deg);
}

.hero-container .share:hover > h1 > span:nth-child(18) {
  color: #39393B;
  transition-delay: 1990ms;
}

@media (min-width: 601px) and (max-width: 900px) {

  .hero-container .first-container h1,
  .hero-container .second-container h1 {
    font-size: 3vw;
  }

}

@media (max-width: 600px) {

  .hero-container .first-container h1,
  .hero-container .second-container h1 {
    font-size: 3.5vw;
  }

}
