.ProjectsPage {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png);
  width: 100%;
  height: auto;
  text-align: center;
}

.ProjectsPage .title {
text-align: center;
letter-spacing: 5px;
padding: 30px;
font-size: 2em;
font-family: 'Rock Salt', cursive;
}

.projects {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  display: inline;
}
