.projectPage{
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png);
  width: 100%;
  margin-top: 40px;
  text-align: center;
  padding: 50px;
}

.projects-container .grid {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  display: inline;
}

.projects-container .grid figure {
  width: 20%;
  border: thin silver solid;
  display: inline-block;
  text-align: center;
  margin: 1em;
  position: relative;
  opacity: 0.8;
  z-index: 1;
  background: #060F4F;
}

.projects-container .grid img {
  /*width: 250px;*/
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.projects-container .grid figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects-container .grid h4 {
  font-size: 1.125em;
  color: #0284A8;
  z-index: 2;
}

@media (min-width: 601px) and (max-width: 900px){
  .projects-container .grid {
    max-width: 900px;
  }

  .projects-container .grid figure {
    width: 40%;
    margin: 1em;
  }
}


@media (max-width: 600px) {
  .projects-container .grid {
    max-width: 600px;
  }

  .projects-container .grid figure {
    width: 94%;
    margin: 1em;
  }
}

/*.projects-container .grid::after {
    content: "";
    clear: both;
    display: table;
}*/

/*.projects-container .grid > div {
  width: 25%;
  display: inline;
  border: thin silver solid;
}

.projects-container .grid img {
  max-width: 300px;
  width: 100%;
  height: 200px;
  margin: 10px;
}*/
