.Projects {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 1000px;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 20px auto;
}

.Projects .title {
letter-spacing: 5px;
padding: 30px;
font-size: 2em;
font-family: 'Rock Salt', cursive;
}

.project {
  width: 100%;
  min-height: 100vh;         /* mcrosoft edge och firefox */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

}

.project a {
  width: 33%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;
}

@media (min-width: 601px) and (max-width: 900px) {
  .project a {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .project a {
    width: 100%;
  }
}
